.custom-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* Adjust column count as needed */
  grid-template-rows: minmax(34px, auto); /* automatically created rows will be a min of 50px and max of auto*/
  gap: 27px; /* Adjust gap between grid items as needed */
}

.custom-grid-item.full {
  grid-column: span 12; /* Full width */
}

.custom-grid-item.half {
  grid-column: span 6; /* Half width */
}

.custom-grid-item.one-third {
  grid-column: span 4; /* One-third width */
}

.custom-grid-item.one{
    grid-column : span 1;
}
.custom-grid-item.el{
    grid-column : span 11;
}
.custom-grid-item.three{
    grid-column : span 3;
}
.custom-grid-item.nine{
    grid-column : span 9; /*this will span 9 cols out of 12*/
}