.custom-offcanvas.offcanvas.offcanvas-end.show {
  width: -webkit-fill-available;
  max-width: 80%;
}

.sidebar-offcanvas {
  width: 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sidebar-offcanvas ul {
  list-style: none;
  padding: 0;
}

.sidebar-offcanvas .btn {
  display: block;
  width: 100%;
  transform: rotate(-90deg);
  color: white;
  background-color: #141414 !important;
}

.sidebar-offcanvas .btn:hover {
  color: white;
  background-color: #141414 !important;
}

button.btn.btn-primary {
  background-color: #3b3b3b;
}
.custom-offcanvas .offcanvas-body {
  padding: 0;
}

.offcanvas-header {
  position: relative;
  background-color: black;
  color: white;
  font-size: x-large;
  font-weight: 500;
}

.offcanvas-body {
  position: relative;
}

.sidebar-offcanvas.col-1.col {
  width: 4.33333333%;
  background-color: #141414;
  color: white;
  height: 100vh;
}

.main-content.col {
  background-color: currentColor;
  padding-left: 62px;
}

.main-content.col * {
  color: white; /* This sets the text color to white for all elements inside .main-content.m-3.col */
}
.custom-form-control{
    max-width: 50vw;
    background-color: #6C757D !important;
    border:none !important;
}