#folderStructureConfig {
  .tree-node {
    margin-left: 10px;
    color: white;
  }
  .add-icons button {
    background-color: #303033;
    color: white;
    border: none;
    margin-left: 5px;
    cursor: pointer;
    padding: 3px;
    font-size: 12px;
  }
  .icon-button {
    background-color: #303033;
    color: white;
    padding: 3px;
    margin-left: 5px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    font-size: 12px;
  }
  .edit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 15px;
    background-color: #303033;
    border: none;
    cursor: pointer;
    position: relative;
  }
  .edit-button img {
    margin: 0;
  }

  .selected-node {
    background-color: #6c757d;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
  }
}
