.new-body-w-full {
  width: 100%;
}
.new-body-h-full {
  height: 100%;
}

.new-body-w-10{
  width: 10% !important;
}
.new-body-w-15{
  width: 15% !important;
}
.new-body-w-50{
  width: 50% !important;
}
.new-body-w-40{
  width: 40% !important;
}
.new-body-overflow{
  overflow: auto;
}

.new-body-h-15 {
  height: 15%;
}
.new-body-h-30 {
  height: 30%;
}
.new-body-h-70 {
  height: 70%;
}

.new-body-form-control {
  color: white !important;
  border: none !important;
  /* background-color: rgba(76, 71, 71, 0.5) !important; */
  background-color: #212529 !important;
  border-radius: 0 !important;
}

.new-body-d-flex {
  display: flex;
}
.new-body-d-inline-block {
  display: inline-block !important;
}
.new-body-border-radius-none{
  border-radius: 0% !important;
  border: none !important;
}
.new-body-border-white {
  border: 1px solid white;
}
.new-body-color-white {
  color: white !important;
}
.new-body-bg-dark{
  background-color: #303033 !important;
}
.new-body-select{
  background-color: #303033 !important;
  color: white !important;
  border-radius: 0% !important;
  border: none !important;
  display: inline-block !important;
}
.new-auth-select{
  height: 20% !important;
  width: 50% !important;
  border-radius: 0% !important;
  background-color: #212529 !important;
  color: white !important;
  display: inline-block !important;
}
.new-body-monaco-div{
  width: 100%;
  height: 250px;
}