.new-res-h-full{
    height: 100%;
}
.new-res-h-15{
    height: 15%;
}
.new-res-h-20{
    height: 20%;
}
.new-res-h-80{
    height: 80%;
}
.new-res-w-full{
    width: 100%;
}
.new-res-w-50{
    width: 50%;
}
.new-res-w-35{
    width: 35%;
}
.new-res-d-flex{
   display: flex;
}
.new-res-d-flex-column{
    display: flex;
    flex-direction: column;
 }
.new-res-border-white{
    border: 1px solid white;
}
.new-res-color-white{
   color: white;
}
.new-res-form-control{
    width: 50% !important;
    height: 100% !important;
    border-radius: 0% !important;
    border: none !important;
    background-color: #212529 !important;
    color: white !important;
    display: inline-block !important;
}
.new-res-content{
    justify-content:space-around;
}