.route-search-input-group {
  position: relative;
}

.route-search-input-group .form-control {
  padding-right: 2.25rem;
  /* Adjust to ensure button does not overlap text */
}

.route-search-input-group-append {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
  /* Adjust padding as needed */
}

.route-tree {
  max-width: 100%;
  overflow-y: auto;
  margin-top: 10px;
}

/* Adjust the indentation and handle hover effects */
.route-node {
  padding-left: 10px;
}

.route-item .route-component {
  font-weight: bold;
  white-space: nowrap;
}

.route-item .route-path {
  color: rgb(194, 184, 184);
}

.route-item {
  background-color: #212529;
  margin-top: 1px;
  margin-bottom: 5px;
  font-size: 80%;
  align-items: center;
  cursor: pointer;
  overflow-x: hidden;
}

.route-item-close-open {
  background-color: #212529;
  font-size: 80%;
  align-items: center;
  cursor: pointer;
  margin-top: 1px;
  margin-bottom: 5px;
  overflow-x: hidden;
  white-space: nowrap;
}

.route-wrap {
  overflow-wrap: break-word;
}

.route-children {
  margin-left: 5px;
}

.header-strip {
  height: 23px;
  line-height: 23px;
  width: 100%;
  background-color: #3b3d40;
  font-size: 78%;
  padding-left: 10px;
  border: thin solid rgb(45, 41, 41);
  border-radius: 4px;
  align-items: center;
  cursor: pointer;
}

.route-details-expandable-content {
  padding: 10px;
  border-left: thin black;
  border-right: thin black;
  border-bottom: thin black;
  background-color: none;
  font-size: 76%;
  overflow-y: auto;
  overflow-x: hidden;
}

.route-details-form .form-group {
  margin-bottom: 10px;
}

.all-route-details {
  height: 88%;
}

.white-space-nowrap{
  white-space: nowrap;
}

/* Ensure the parent component can have relative positioning */
.position-relative {
  position: relative;
}

.route-content-section.dull {
  opacity: 0.5; /* Make the section dull */
  pointer-events: none; /* Prevent interactions with the section */
}

.routing-overlay-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 999; /* Ensure it appears above other content */
}