element.style {
  padding: 20px;
  background-color: currentcolor;
  text-decoration-color: white;
}

.outer-control {
  display: flex;
  margin-top:10px;
  flex-direction: row;
  justify-content: normal;
  background-color: #303033;
  border: 1px solid grey;
  max-width: 90%;
  padding: 8px;
  flex-wrap: wrap;
}

.outer-label {
  color: white;
  margin: 16px 16px 8px 16px;
  
}
