element.style {
  padding: 20px;
  background-color: currentcolor;
  text-decoration-color: white;
}

.d-flex.mt-3 {
  flex-direction: row;
  justify-content: normal;
  background-color: #303033;
  border: 1px solid grey;
  max-width: 90%;
  padding: 8px;
}

.mt-3.mx-3.label {
  color: white;
}
