input.form-control {
  max-width: 50vw;
  background-color: #6C757D !important;
  border: none;
  color: white !important;
}

.mb-3 custom-form-group{
background-color: #303033;
}
input.form-control::placeholder{
color:white;
}
/* input.form-control::focus{
  background-color: #6C757D !important;
} */