.upload-accordion {
  width: 100%;
}

.upload-accordion .accordion-item {
  border: none; /* Remove border */
  margin-bottom: 5px; /* Add some space between accordion items */
}

.upload-accordion .accordion-header {
  background-color: transparent; /* Set background color to transparent */
  color: white; /* Set text color */
  padding: 0; /* Remove default padding */
  cursor: pointer; /* Set cursor to pointer on hover */
}

.upload-accordion .accordion-body {
  background-color: #343a40; /* Set background color */
  color: white; /* Set text color */
  padding: 10px;
}

.upload-accordion .accordion-button {
  background-color: #212529;
  color: white; /* Set text color */
}

.upload-accordion .accordion-button:active,
.upload-accordion .accordion-button:focus {
  background-color: #303033; /* Change background color when clicked or focused */
  color: white;
  border: none;
  outline: none;
}

.upload-accordion .accordion-header:active,
.upload-accordion .accordion-header:focus {
  background-color: #303033; /* Change background color when clicked or focused */
  box-shadow: none; /* Remove box shadow when clicked or focused */
}

.accordion-button:not(.collapsed) {
    color: var(--bs-accordion-active-color);
    background-color: var(--bs-accordion-active-bg);
    box-shadow:none !important
}