
label.form-label {
  font-size: 16px;
}

.divider-sec {
  background-color: rgb(33, 37, 41);
  color: white;
  font-size: 16px;
  padding: 8px;
  position: relative;
  z-index: 999;
}

.divider-sec p {
  margin-bottom: 0px;
  padding-left: 8px;
}
.d-flex.mt-3 {
  flex-direction: row;
  justify-content: normal;
  background-color: #303033;
  border: 1px solid grey;
  max-width: 90%;
  padding: 8px;
}
