.service-root.container-fluid{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.service-root.justify-content-end{
    background-color: #303033;
}
.service-root.row.flex-grow-1.overflow-hidden{
    background-color:  #303033;
}
input.service-root-upload{
    display: none;
}
