.container-fluid.d-flex.flex-column{
    width: 100%;
}
.justify-content-end{
    background-color: #303033;
}
.row.flex-grow-1.overflow-hidden{
    background-color:  #303033;
}
input.upload{
    display: none;
}