body {
    margin: 0;
    padding: 0;
  }
  
  .settings {
    display: flex;
  }
  
  .sidebar {
    height: 80vh;
    color: #fff;
    width: 350px;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 10px;
  }
  
  .sidebar-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
    margin-top: 8px;
  }
  
  .sidebar-suboptions {
    margin-bottom: 20px;
  }
  
  .sidebar-item {
    margin-bottom: 10px;
    padding: 5px 0px 5px 0px;
  }
  
  .sidebar-item.active {
    background-color: #ffffff; /* Highlight color */
    color: black;
    border-radius: 25px;
  }

  .content {
    margin-left: 20px; 
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
  }
  
  .integration-image {
    width: 300px;
    height: 80px;
  }

.img-thumbnail {
  display: block;
  margin: 10px 0;
}

.btn-danger {
  display: block;
  margin-top: 10px;
}
