*.pyc
*/node_modules/*
*/third_party_configs/*
*/configurations/*
launch.json
app_consts.py
package-lock.json
*/.vscode

/configurations
/generated_projects
/uploaded_css
breeze/uploaded_css/
/user_uploads