#sidebar {
    min-width: 320px;
    position: relative;
    transition: all 0.35s ease-in-out;
    border-radius: 10px;
    margin: 10px;
    padding: 12px 6px;
    z-index: 100;
}

#sidebar .sidebar-header {
    font-size: 0.75rem;
    padding: 0 0.375rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#sidebar .sidebar-header .btn:focus {
    border: none;
    box-shadow: none;
}

#sidebar .sidebar-header:hover {
    cursor: pointer;
}

.sidebar-action-buttons {
    display: flex;
    align-items: center;
}

.sidebar-add-icon {
    margin-bottom: 2px;
}

#sidebar .sidebar-search {
    display: flex;
    margin: 0.75rem 0.375rem;
    position: relative;
}

#sidebar .sidebar-search .form-control {
    border: none;
}

#sidebar .sidebar-search .form-control:focus {
    border: none;
    box-shadow: none;
}

#sidebar .sidebar-nav {
    padding: 0;
    overflow-y: auto;
}

#sidebar .bottom-nav {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 6px;
    margin: 0 12px;
    width: 100%;
    position: absolute;
    bottom: 12px;
    left: 0;
}

#sidebar .bottom-nav a {
    color: var(--color-text);
    padding: 0 0.75rem;
    text-decoration: none;
    border-radius: 3px;
}

#sidebar .bottom-nav a:hover {
    background-color: var(--color-subtext);
}

#sidebar .bottom-nav a.run-btn {
    background-color: var(--color-blue);
    font-size: 10px;
    padding: 6px 24px;
    margin: 0 12px;
    align-content: center;
    border-radius: 3px;
    color: white;
}

.collapsed-sidebar-button {
    height: 50px;
    margin: 10px 10px 10px 0;
    border-radius: 0 0.375rem 0.375rem 0;
    padding: 13px 10px 13px 6px;
    cursor: pointer;
}

.selected-node {
    background-color: #d3e2f4;
    border-radius: 4px;
}

.tree-node.dragging {
    opacity: 0.5;
}

.tree-node.drop-target {
    border: 2px dashed #007bff;
}

.root-drop-zone {
    margin-bottom: 10px;
    text-align: center;
    line-height: 50px;
    color: #888;
}