.react-select-container {
    border-radius: 4px !important;
}

.react-select__control {
    background-color: var(--color-primary) !important;
    color: var(--color-text) !important;
    box-shadow: none !important;
}

.react-select__input-container {
    color: var(--color-text) !important;
}

.react-select__control:hover {
    background-color: var(--color-secondary) !important;
}

.react-select__placeholder {
    color: var(--color-subtext) !important;
}

.react-select__menu {
    background-color: var(--color-secondary) !important;
}

.react-select__option {
    color: var(--color-text) !important;
    background-color: var(--color-secondary) !important;
    cursor: pointer;
}

.react-select__option:hover {
    background-color: var(--color-primary) !important;
}

.react-select__option--is-selected {
    background-color: var(--color-primary) !important;
    color: var(--color-text) !important;
}

.react-select__single-value {
    color: var(--color-text) !important;
}