THIRD_PARTY_CONFIG_PATH = "path/of/THIRD_PARTY_CONFIG_PATH"

CONFIG_PATH = "path/of/CONFIG_PATH"

# should be used after confirming th genration path status
PROJECT_GENERATION_PATH = "path/of/PROJECT_GENERATION_PATH_FOLDER"

APP_CONFIG_PATH = "path/of/APP_CONFIG_PATH"

