.primary-background {
  background-color: var(--color-primary);
}

.secondary-background {
  background-color: var(--color-secondary);
}

.primary-text {
  color: var(--color-text);
}

.text-secondary {
  color: var(--color-subtext);
}

.color-blue {
  color: var(--color-blue);
}

.color-blue:hover {
  color: var(--color-blue-hover);
}