
.bg-primary{
  background-color: var(--background-color-primary);
}


.bg-secondary{
  background-color: var(--background-color-secondary);
}

.bg-tertiary{
  background-color: var(--background-color-tertiary);
}

.text-primary{
  color: var(--color-primary);
}
.text-secondary{
  color: var(--color-secondary);
}

.text-primary{
  color: var(--color-tertiary);
}


