.br-background-primary {
  background-color: var(--color-primary);
}

.br-background-secondary {
  background-color: var(--color-secondary);
}

.br-text-primary {
  color: var(--color-text);
}

.br-text-secondary {
  color: var(--color-subtext);
}

.color-blue {
  color: var(--color-blue);
}

.color-blue:hover {
  color: var(--color-blue-hover);
}