:root {
  --color-blue: #006EB9;
  --color-blue-hover: #035891;
}

body.dark {
  --color-primary: #1E1F1C;
  --color-secondary: #272822;
  --color-tertiary: #FAFAFA;
  --color-text: #A5A5A4;
  --color-subtext: rgb(165, 165, 164, .2);
  --color-background: rgba(165, 165, 164, 0.5);
}

body.light {
  --color-primary: #FFFFFF;
  --color-secondary: #F7F7F7;
  --color-tertiary: #272822;
  --color-text: #252525;
  --color-subtext: #686864;
  --color-background: #D8D7DD;
}

body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}